{% extends 'base.html' %}

{% block title %}
    Внести результат VKR
{% endblock %}

{% block content %}
{% include 'includes/error_form.html' %}
<form enctype="multipart/form-data" method="post" action="{% if is_edit %}
                                                            {% url 'main:update_vkr' slug form.instance.id %}
                                                          {% else %}
                                                            {% url 'main:create_vkr' slug %}
                                                          {% endif %}">
    {% csrf_token %}

    {% for field in form %}
        <label for="{{ field.id_for_label }}">
        {{ field.label }}
        {% if field.field.required %}
            <span class="required text-danger">*</span>
        {% endif %}
        </label>
        <div>
        {{ field }}
        {% if field.help_text %}
            <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
            {{ field.help_text|safe }}
            </small>
        {% endif %}
        </div>
    {% endfor %}
    <input type="submit" value="Отправить"></p>
</form>
{% endblock %}