{% load static %}

<div class="container">
    <div class="end">
        <div class="footer-leftside">
            <ul class="list-author">
                <li class="author">
                    Авторы проекта:
                </li>
                <li class="author">
                    Программист - Иван Книженцев
                    <a href="mailto:knigencev2003@gmail.com" target="_blank">
                        <img src="{% static 'img/em.png' %}" alt="" class="icon-contacts">
                    </a>
                </li>
                <li class="author">
                    Дизайнер - Виктория Новикова
                    <a href="mailto:knigencev2003@gmail.com" target="_blank">
                        <img src="{% static 'img/em.png' %}" alt="" class="icon-contacts">
                    </a>
                </li>
                <li class="author">
                    Аналитик - Кирилл Беляков
                    <a href="mailto:knigencev2003@gmail.com" target="_blank">
                        <img src="{% static 'img/em.png' %}" alt="" class="icon-contacts">
                    </a>
                </li>
            </ul>
            <p class="right">
                © Все права защищены.
            </p>
        </div>
        <div class="footer-rightside">
            <ul lass="form-conection">
                <li class="mail-help">
                    Почта поддержки:
                </li>
                <li class="form-conection-img">
                    <a href="mailto:" target="_blank">
                        <img src="{% static 'img/emm.png' %}" alt="" class="img-form">
                    </a>
                </li>
                <li class="form-conection-img">
                    <a href="mailto:" target="_blank">
                        <img src="{% static 'img/vk.png' %}" alt="" class="img-form">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>